@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191411;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  outline: none;
  color: #191411;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

button:hover {
  background: linear-gradient(95.61deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
  font-family: "Merriweather", sans-serif;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}

.common-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}

.common-item-text {
  font-size: 16px;
  line-height: 22px;
}

.main {
  overflow: hidden;
  background-image: url("../images/main-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  vertical-align: bottom;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 600px;
}

.menu-item a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.menu-item a:hover {
  border-bottom: 2px solid #ffffff;
}

.currency {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 45px;
}

.main-content {
  padding: 103px 0 199px;
}

.main-content .container,
.order .container {
  position: relative;
}

.main-info {
  max-width: 608px;
}

.main-small-info {
  background: #d3320f;
  border-radius: 100px;
  padding: 12px 16px;
  display: inline-block;
  font-size: 18px;
}

.main-title {
  font-family: "Merriweather", sans-serif;
  font-size: 120px;
  line-height: 156px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.main-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 56px;
}

.button.main-button {
  padding: 20px 63px;
}

.main-image {
  position: absolute;
  top: -123px;
  left: calc(100% - 991px);
}

.why {
  background-image: url("../images/why-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
}

.why-items {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 312px);
  justify-content: center;
}

.why-item {
  text-align: center;
}

.products {
  background-image: url("../images/burgers-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  background-size: 1400px;
}

.products-items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 24px;
}

.products-item {
  padding: 30px;
  background: #211a16;
  border: 1px solid #353535;
  border-radius: 16px;
}

.products-item-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.products-item-price {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 8px;
}

.products-item-weight {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.button.product-button {
  padding: 19px 35px;
  display: flex;
  align-items: center;
}

.button.product-button span {
  margin-right: 10px;
}

.order {
  background-image: url("../images/order-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  overflow: hidden;
}

.order-image {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}

.order-form {
  background: #211a16;
  border: 1px solid #353535;
  border-radius: 16px;
  max-width: 424px;
  padding: 36px 40px 60px;
  margin-left: 674px;
  text-align: center;
}

.order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.order-form-input {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form-input input {
  padding: 20px 10px;
  background: #211a16;
  border-radius: 8px;
  width: 342px;
  height: 60px;
  outline: none;
  border: 1px solid transparent;
  color: #ffffff;
}

.order-form-inputs button {
  padding: 20px;
}

.footer {
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  font-size: 16px;
  line-height: 20px;
}